<style>
.modal-popup.modal-custom .modal-inner-wrap{
	width: 500px;
    border-radius: 5px;
}
.modal-popup.modal-custom .modal-header {
    padding: 0 10px;
    background: #ded9d9;
}
.modal-popup.modal-custom .modal-title {
    border-bottom: 0;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 4px;
    min-height: 1em;
    word-wrap: break-word;
    margin-top: 15px;
    color: #4a4444;
}
.modal-slide .action-close {
    padding: 0.9rem 1rem;
    background: #444343;
    margin: 10px;
    border-radius: 50%;
}
.modal-slide.modal-custom .action-close:before {
    color: #ffffff;
}
.modal-slide.modal-custom .action-close:hover {
    background: #444343 !important;
}
.modal-popup.modal-custom .modal-content{
	padding: 1.5em 1em;
}
.modal-popup.modal-custom .popup-content{
	font-size: 2rem;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.modal-popup.modal-custom .popup-content a {
	color: #959a35;
}
.modal-popup.modal-custom .popup-content a.user_country{
	background: #959a35;
    padding: 4px 9px;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0em;
	}
.modal-popup.modal-custom .popup-content a.user_country img{
	width: 22px;
    vertical-align: middle;
    margin-bottom: 2px;
}
.modal-popup .current_site{
	background: #808075;
    padding: 4px 9px;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1em;
}
.modal-popup.modal-slide.modal-custom .modal-footer {
    border-top: none;
    text-align: center;
    padding: 0 0 1em;
	
}
.modal-popup.modal-slide.modal-custom .modal-footer button {
    text-align: center;
    background: #649540;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 375px) {
	.modal-popup.modal-custom .modal-inner-wrap{
	width: 300px;
    border-radius: 5px;
}
}
</style>
<div id="popup-content" class="popup-content" style="display:none">
<?php
	$om = \Magento\Framework\App\ObjectManager::getInstance();
	$scopeConfig = $om->get('\Magento\Framework\App\Config\ScopeConfigInterface');
	$cookieManager = $om->get('\Magento\Framework\Stdlib\CookieManagerInterface');
	$showpop = false;
	if ($scopeConfig->getValue('ecomatic_ippopup/general/enable') && $cookieManager->getCookie('ecomatic_popup_cookie') == null){
		$country = curl_init("https://freegeoip.net/json/".$_SERVER['REMOTE_ADDR']);
		curl_setopt($country, CURLOPT_RETURNTRANSFER, 1); 
		$ret = curl_exec($country);
		$country = json_decode($ret)->country_code;
		$storeManager = $om->get('\Magento\Store\Model\StoreManagerInterface');
		$stores = $storeManager->getStores($withDefault = false);
		$countryInformation = $om->get('\Magento\Directory\Api\CountryInformationAcquirerInterface');
		$storeScope = \Magento\Store\Model\ScopeInterface::SCOPE_STORE;
		$originalId = $storeManager->getStore()->getStoreId();
		$showpop = true;
		$url = "";
		
		$cookieMetadataFactory = $om->get('\Magento\Framework\Stdlib\Cookie\CookieMetadataFactory');
		
		$cookieMetadata = $cookieMetadataFactory->createPublicCookieMetadata()->setDuration(2);//31536000
		
		$cookieManager->setPublicCookie('ecomatic_popup_cookie', '1', $cookieMetadata);
		
		if ($scopeConfig->getValue('general/store_information/country_id', $storeScope, $originalId) == $country){
			$showpop = true;
		}
		else {
			$found = false;
			foreach ($stores as $store){
				$storeManager->setCurrentStore($store->getId());
				$countryid = $scopeConfig->getValue('general/store_information/country_id', $storeScope, $store->getId());
				if ($country == $countryid){
					$url = $storeManager->getStore()->getBaseUrl();
					$found = true;
					$storeManager->setCurrentStore($originalId);
					break;
				}
				$storeManager->setCurrentStore($originalId);
			}
			if ($found){
				echo "<p>We have a store for your country</p>";
				// show the user's country flag
				echo "<a class=\"user_country\" href=\"".$url."\">country</a>";
				
				// show the current site flag
				//echo "<a class=\"current_site\" href=\"".$url."\">current site</a>";
				$showpop = true;
			}
			else {
				if ($scopeConfig->getValue('ecomatic_ippopup/general/default') == $originalId){
					$showpop = true;
				}
				else {
					$storeManager->setCurrentStore($originalId);
					$url = $storeManager->getStore()->getBaseUrl();
					echo "Unfortunately we do not have a store for your country, please use <a href=\"".$url."\">the default site</a> instead";
					$showpop = true;
				}
			}
		}
	}
?>
</div>
<?php if ($showpop){
echo "
<script>
require(
    [ 'jquery', 'Magento_Ui/js/modal/modal' ],
    function($, modal) {
        modal({
            autoOpen: true,
            responsive: true,
            clickableOverlay: false,
            modalClass: 'modal-custom',
            title: 'Site Switcher'
        }, $('#popup-content'));
    }
);
</script>
";
}
?>