<style>
.modal-popup.modal-custom .modal-inner-wrap{
	width: 600px;
    height: auto;
    overflow: unset;
}
.modal-inner-wrap {
    overflow-y: unset !important;
}
.modal-popup.modal-custom .modal-header {
    padding: 0 10px;
    background: #ded9d9;
}
.modal-popup.modal-custom .modal-title {
    border-bottom: 0;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 20px;
    margin-bottom: 4px;
    min-height: 1em;
    word-wrap: break-word;
    margin-top: 15px;
    color: #4a4444;
	display: none;
}
.modal-slide .action-close {
    background: #444343;
    padding: 0px;
    margin: -12px;
    color: #fff !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 99999999 !important;
    display: inline-grid;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #ffffffc7;
}
#popup-content h2 {
    font-size: 20px;
    color: #E26806;
    padding-top: 0;
    margin-top: 0;
    text-transform: capitalize;
	margin-bottom: 5px;
	font-weight: 600;
}
.hr_popup_title {
    border-bottom: 1px solid #eee;
}
.message {
    font-weight: 400;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-top: 20px;
	margin-left: 10px;
    margin-right: 10px;
}
.button_bottom {
    float: left;
    text-align: center;
    width: 100%;
	margin-top: 10px;
}
.current_country, .user_site {
    background: #F18200;
    color: #fff !important;
    font-size: 15px;
    font-weight: 400 !important;
    padding: 5px 10px;
}
.dont_ask_section {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.modal-slide.modal-custom .action-close:before {
    color: #ffffff;
}
.modal-slide.modal-custom .action-close:hover {
    background: #444343 !important;
}
.modal-popup.modal-custom .modal-content{
	padding: 1.5em 1em;
}
.modal-popup.modal-custom .popup-content{
	font-size: 2rem;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.modal-popup.modal-custom .popup-content a {
	color: #E26806;
    font-weight: 600;
}
.modal-popup.modal-custom .popup-content a.user_country{
	    text-transform: capitalize;
	}
.modal-popup.modal-custom .popup-content a.user_country img{
	width: 22px;
    vertical-align: middle;
    margin-bottom: 2px;
}
.modal-popup .current_site{
	background: #808075;
    padding: 4px 9px;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 1em;
}
.modal-popup.modal-slide.modal-custom .modal-footer {
    border-top: none;
    text-align: center;
    padding: 0 0 1em;
	display: none;
	
}
.modal-popup.modal-slide.modal-custom .modal-footer button {
    text-align: center;
    background: #649540;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 375px) {
	.modal-popup.modal-custom .modal-inner-wrap{
	width: 300px;
    border-radius: 5px;
}
}
</style>
<div id="popup-content" class="popup-content" style="display:none">
<?php
	$om = \Magento\Framework\App\ObjectManager::getInstance();
	$scopeConfig = $om->get('\Magento\Framework\App\Config\ScopeConfigInterface');
	$cookieManager = $om->get('\Magento\Framework\Stdlib\CookieManagerInterface');
	$showpop = false;
	if ($scopeConfig->getValue('ecomatic_ippopup/general/enable') && $cookieManager->getCookie('ecomatic_popup_cookie') == null){
		$country = curl_init("https://freegeoip.net/json/".$_SERVER['REMOTE_ADDR']);
		curl_setopt($country, CURLOPT_RETURNTRANSFER, 1); 
		$ret = curl_exec($country);
		$country = json_decode($ret)->country_code;
		$storeManager = $om->get('\Magento\Store\Model\StoreManagerInterface');
		$stores = $storeManager->getStores($withDefault = false);
		$countryInformation = $om->get('\Magento\Directory\Api\CountryInformationAcquirerInterface');
		$storeScope = \Magento\Store\Model\ScopeInterface::SCOPE_STORE;
		$originalId = $storeManager->getStore()->getStoreId();
		$showpop = true;
		$url = "";
		
		$cookieMetadataFactory = $om->get('\Magento\Framework\Stdlib\Cookie\CookieMetadataFactory');
		
		$cookieMetadata = $cookieMetadataFactory->createPublicCookieMetadata()->setDuration(2);//31536000
		
		$cookieManager->setPublicCookie('ecomatic_popup_cookie', '1', $cookieMetadata);
		
		if ($scopeConfig->getValue('general/store_information/country_id', $storeScope, $originalId) == $country){
			$showpop = true;
		}
		else {
			$found = false;
			foreach ($stores as $store){
				$storeManager->setCurrentStore($store->getId());
				$countryid = $scopeConfig->getValue('general/store_information/country_id', $storeScope, $store->getId());
				if ($country == $countryid){
					$url = $storeManager->getStore()->getBaseUrl();
					$found = true;
					$storeManager->setCurrentStore($originalId);
					break;
				}
				$storeManager->setCurrentStore($originalId);
			}
			if ($found){
				echo "<h2>".$url."/".$country."</h2><div class=\"hr_popup_title\"></div>";
				// show the user's country flag
				echo "<p class=\"message\">Shopping from <a href=\"".$url."\">".$url."</a>?";
				echo " Looking for <a class=\"user_country\" href=\"".$url."\">".$url."</a>?</p>";
				
				echo "<div class=\"button_bottom\"><a class=\"current_country\" href=\"".$url."\">Stay Here</a> ";
				// show the user site link
				echo "<a class=\"user_site\" href=\"".$url."\">Take me to - ".$url."</a></div>";
				
				// don't ask again secction 
				echo "<div class=\"dont_ask_section\"><label for=\"dont_ask_again\"><input type=\"checkbox\" id=\"dont_ask_again\" class=\"dontask_again\"/> Don't show this popup again</label></div>";
				$showpop = true;
			}
			else {
				if ($scopeConfig->getValue('ecomatic_ippopup/general/default') == $originalId){
					echo "<h2>".$url."/".$country."</h2><div class=\"hr_popup_title\"></div>";
					// show the user's country flag
					echo "<p class=\"message\">Shopping from <a href=\"".$url."\">".$url."</a>?";
					echo " Looking for <a class=\"user_country\" href=\"".$url."\">".$url."</a>?</p>";
					
					echo "<div class=\"button_bottom\"><a class=\"current_country\" href=\"".$url."\">Stay Here</a> ";
					// show the user site link
					echo "<a class=\"user_site\" href=\"".$url."\">Take me to - ".$url."</a></div>";
					
					// don't ask again secction 
					echo "<div class=\"dont_ask_section\"><label for=\"dont_ask_again\"><input type=\"checkbox\" id=\"dont_ask_again\" class=\"dontask_again\"/> Don't show this popup again</label></div>";
					$showpop = true;
				}
				else {
					$storeManager->setCurrentStore($originalId);
					$url = $storeManager->getStore()->getBaseUrl();
					echo "Unfortunately we do not have a store for your country, please use <a href=\"".$url."\">the default site</a> instead";
					$showpop = true;
				}
			}
		}
	}
?>
</div>
<?php if ($showpop){
echo "
<script>
require(
    [ 'jquery', 'Magento_Ui/js/modal/modal' ],
    function($, modal) {
        modal({
            autoOpen: true,
            responsive: true,
            clickableOverlay: false,
            modalClass: 'modal-custom',
            title: 'Site Switcher'
        }, $('#popup-content'));
    }
);
</script>
";
}
?>